

.jhj_crtc_pdf_upload{
	background-color: #000;
	padding:6px;
	color:#FFF;
	text-decoration: none;
	margin:.3em;
	margin-top:.5em;
	display:inline-block;
}
/*Hide Features That don't Apply*/

#wp-admin-bar-view{
	display:none;
}

#titlediv > .inside{
	display:none;
}

#message > p > a{
	display:none;
}
